* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.89);

}

div.calculadora{
    margin-top: 40px;
    background-color: rgba(134, 36, 36, 0.562);
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: 100px, 200px , repeat(5, 80px) ;
    grid-gap: 10px;
    grid-template-areas:
    "titulo titulo titulo titulo"
    "pantalla pantalla pantalla pantalla"
    "vacio1 vacio2 borrar dividir"
    "siete ocho nueve multiplicar"
    "cuatro cinco seis restar"
    "uno dos tres sumar"
    "vacio3 cero coma igual" 
    ;
    font-size: 25px;
    padding: 20px 10px 10px 10px;
    border-radius: 10px;
}

.calculadora div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 100px;
    background-color:  rgba(97, 84, 84, 0.911);
    border-radius: 3px;
    box-shadow: 0.5px 0.5px 1px gray;
}

.btn:hover{
    background-color: rgba(136, 104, 104, 0.911);
}
.btn:active{
    background-color: rgba(136, 104, 104, 0.911);
    transform: scale(0.98);
}

div.titulo{
    grid-area: titulo;
    width: 430px;
    height: 50px;    
}
div.cero{
    grid-area: cero;    
}
div.uno{
    grid-area: uno;    
}
div.dos{
    grid-area: dos;   
}
div.tres{
    grid-area: tres;
}
div.cuatro{
    grid-area: cuatro;
}
div.cinco{
    grid-area: cinco;
}
div.seis{
    grid-area: seis;
}
div.siete{
    grid-area: siete;
}
div.ocho{
    grid-area: ocho;
}
div.nueve{
    grid-area: nueve;
}
div.igual{
    grid-area: igual;
    background-color: rgba(117, 49, 49, 0.911);
}
div.restar{
    grid-area: restar;
    opacity: 0.6;
}
div.sumar{
    grid-area: sumar;
    opacity: 0.6;
}
div.multiplicar{
    grid-area: multiplicar;
    opacity: 0.6;
}
div.dividir{
    grid-area: dividir;
    opacity: 0.6;
}
div.coma{
    grid-area: coma;
}
div.borrar{
    grid-area: borrar;
    opacity: 0.6;
}
div.pantalla{
    grid-area: pantalla;
    height: 120px ;
    width: 430px;
    margin: 2px 2px;
    background-color: rgb(91, 91, 92);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    padding-right: 15px;
    overflow: auto;
}

p.historial{
    height: 40px ;
    width: 40px;
    padding: 10px 10px;
    border-radius: 10px;
    background-color: rgba(49, 40, 40, 0.911);
    display: flex;
    flex-direction: column;
    align-content: center;
    opacity: .6;
}



div.vacio1{
    grid-area: vacio1;
    opacity: 0.3;
}
div.vacio2{
    grid-area: vacio2;
    opacity: 0.3;
}
div.vacio3{
    grid-area: vacio3;
    opacity: 0.3;
}

.modal-container {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
    opacity: 0;
    visibility: hidden;
}

.modal-active {
    opacity: 1;
    visibility: visible;
}

.modal-historial {
    position: relative;
    background-color: white;
    min-width: 500px;
    padding: 20px;
    margin-top: -100%;
    transition: all .5s;
    border-radius: 20px;
}

.modal-active .modal-historial {
    margin-top: 0;
}

.modal-historial h3 {
    color: rgb(83, 35, 22);
    padding-bottom: 5px;
}
.modal-historial #cerrar {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    color: rgb(83, 35, 22);
    border: none;
    background-color: white;
    
}
.modal-historial #cerrar:hover {
    cursor: pointer;
}
.modal-historial #cerrar:focus {
    outline: none;
}
.modal-historial  {
    padding-top: 10px;
    
}